body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    font-family: 'Inter', sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #6943FF;
    padding: 33px 0;
    background: url("wallpaper.jpg");
    background-size: contain
}

h1 {
    margin: 0px;
    text-align: center;
}

#convert-input {
    background: none;
    width: 120px;
    height: 80px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
    -webkit-appearance: none;
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
}

#convert-input::-webkit-outer-spin-button,
#convert-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#convert-btn {
    display: block;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.section {
    width: 500px;
    height: 110px;
    background: #273549;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.section-header {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
}